version: "3"
services:
  postgresql:
    container_name: postgresql
    image: "bitnami/postgresql:latest"
    restart: always
    ports:
      - "5432:5432"
    environment:
      POSTGRESQL_PASSWORD: postgresql
    volumes:
      - /bitnami/postgresql
    logging:
      options:
        max-size: 1g
